.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.cabecalho img {
    display: block;
    width: 30%;
    max-width: 30%;
}

.cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 15% 0;
}

.cabecalho a:hover{
    color: #000000;
    background-color: #fff;
}
